/* founder.css */

@keyframes move-circles {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .circles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    animation: move-circles 4s ease-in-out infinite;
    opacity: 0.8;
  }
  
  /* Define different colors for the circles */
  .circle-1 {
    background-color: #FFD700; /* Yellow */
  }
  
  .circle-2 {
    background-color: #FF5733; /* Red */
  }
  
  .circle-3 {
    background-color: #33FF57; /* Green */
  }
  
  /* Add more circle styles as needed */
  